@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Roboto:300,300i,400,400i,500,500i&display=swap" rel="stylesheet");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body{
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;

}

h1, h2, h3{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

a{
	text-decoration: none;
}

@media (max-width: 960px){
	.container{
		width: 700px;
	}
}

@media (max-width: 720px){
	.container{
		width: 500px;
	}
}

@media (max-width: 540px){
	.container{
		width: 350px;
	}
}
